.App {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "body-grid"
    "footer";
  align-content: space-between;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 5;
}

.body-grid {
  grid-area: body-grid;
  /* padding: 0 45px; */
}

.footer {
  grid-area: footer;
}
.menu-items {
  color: rgb(21, 1, 23);
}
.menu {
  background-color: #797070;
  width: 325px;
  height: 65vh;
  overflow-y: scroll;
  display: flex;
  text-align: left;
  /* align-items: flex-start; */
  position: fixed;
  top: 15%;
  right: -80%;
  transition: 800ms;
}
.menu.access-active {
  position: fixed;
  right: 0;
  transition: 350ms;
}
.sidebar {
  color: #000;
}