.App {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "body-grid"
    "footer";
  align-content: space-between;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 5;
}

.body-grid {
  grid-area: body-grid;
  /* padding: 0 45px; */
}

.footer {
  grid-area: footer;
}