@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');

/* html{
  width: 100vw;
  height: 100vh;
} */
body {
  margin: 0;
  font-family: 'Lato','Work Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #222;
  /* outline: 1px solid #E45E35; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
